@import "ui-mixins";
@import "ui-variables";

// .status { .text(normal); }
// .status-added { .text(success); }
// .status-ignored { .text(subtle); }
// .status-modified { .text(warning); }
// .status-removed { .text(error); }
// .status-renamed { .text(info); }

.file.status-added .name.icon {
    color: @text-color !important;
    &:after {
      color: @text-color-added !important;
      font-family: lunar-particle;
      margin-left: 4px;
      content: @icon-git-status;
  }
}

.directory.status-added .icon-file-directory {
    color: @text-color !important;
    &:after {
      color: @text-color-added !important;
      font-family: lunar-particle;
      margin-left: 4px;
      content: @icon-git-status;
  }
}

.file.status-modified .name.icon {
    &:after {
      color: @text-color-modified !important;
      font-family: lunar-particle;
      margin-left: 4px;
      content: @icon-git-status;
    }
}

.directory.status-modified .icon-file-directory {
    color: @text-color !important;
    &:after {
      color: @text-color-modified !important;
      font-family: lunar-particle;
      margin-left: 4px;
      content: @icon-git-status;
  }
}
